// make default box-sizing model to border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    background-color: #FFF;
    box-sizing: border-box;
}

body {
    margin: 0;
}

img.thumbnail_512 {
    width:512px; height: 512px;
    margin: 4px;
    border: solid #222;
}

img.thumbnail_256 {
    width:256px; height: 256px;
    margin: 4px;
    border: solid #222;
}

img.thumbnail_128 {
    width:128px; height: 128px;
    margin: 4px;
    border: solid #222;
}

img.thumbnail {
    width:128px; height: 128px;
    margin: 4px;
    border: solid #222;
}
